* {
    margin: 0;
}
main {
  background-image: url("https://wallpapers.com/wallpapers/shrek-windows-xp-meme-67qdn6wzoe99uihp.html");
}
body{
    color: purple;
}

.questions {
    background: teal;
    color: orange;
    margin: auto;
    width: 50%;
}